<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome kit -->
    <script
      src="https://kit.fontawesome.com/bf980fe4de.js"
      crossorigin="anonymous"
      rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- tailwind.css-->
    <link rel="stylesheet" href="/css/tailwindstyle.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Contact</title>
</head>
<body>
    {{{body}}}
</body>
</html>