<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome kit -->
    <script
      src="https://kit.fontawesome.com/bf980fe4de.js"
      crossorigin="anonymous"
      rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- tailwind.css-->
    <link rel="stylesheet" href="/css/tailwindstyle.css" />
    <title>Beat by Beat</title>
  </head>
  <body>
    <!-- navbar -->
    {{!-- removed  h-[50px] --}}
    <nav
      class="fixed inset-x-0 z-50 mt-0 px-4 py-2 flex justify-between items-center bg-gradient-to-r from-cyan-200 via-violet-600 to-blue-700">
      <a class="text-3xl font-bold leading-none" href="/">
        <i class="fa-solid fa-headphones" style="color: #000205;"></i>
      </a>

      <!-- hamburger menu -->
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-white p-3">
          <svg
            class="block h-4 w-4 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <!-- Links to Navbar non-mobile -->
      <ul
        class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <li>
          <a class="nav-text" href="/">Home</a>
        </li>
        <li class="text-gray-300">
        </li>
        <li>
          <a class="nav-text" href="/Dashboard">Dashboard</a>
        </li>
        <li class="text-gray-300">
        </li>
        <li>
          <a class="nav-text" href="/profile">Profile</a>
        </li>
        <li class="text-gray-300">
        </li>
        
      </ul>
        <!-- sign in/sign out btns -->
        {{#if logged_in}}
        <a class="logout hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 btn-hover btn-hover:hover nav-rounded-btn
        font-playpen"
        >Log Out</a>
       {{/if}}
    </nav>
    <!--headphones icon  -->
    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <!-- <a class="mr-auto text-3xl font-bold leading-none" href="#"> -->
            <i class="fa-solid fa-headphones text-3xl mr-auto leading-none" style="color: #000205;"></i>
        </div>
      <!--Dropdown navbar hamburger menu  --> 
        <div>
          <ul>
            <li class="mb-1">
              <a class="block p-4 text-lg font-playpen text-purple-800 hover:bg-gradient hover:text-blue-600 rounded"
                href="/">Home</a>
            </li>
            <li class="mb-1">
              <a class="block hamburger-menu-text-and-bg"
                href="/dashboard">Dashboard</a>
            </li>
            <li class="mb-1">
              <a class="block hamburger-menu-text-and-bg" 
               href="/profile">Profile</a>
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6">
            {{#if logged_in}}
            <a id="logout" class=" block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-gradient btn-hover btn-hover:hover
        font-playpen rounded-xl"
              >Log Out</a>
          </div>
          {{/if}}
           <!--hamburger menu footer -->
          <p class="my-4 text-xs text-center text-gray-400">
            <span>Copyright © 2023</span>
          </p>
          
        </div>
      </nav>
    </div>
    <!-- END OF NAVBAR  -->

    {{!-- Handlebars Templates --}}]


    {{{ body }}}
    
  
  <!-- footer-->
<footer class="footer-container">
  <div class="footer nav text-white">
    <ul>
      <li><a href="mailto:your-email@gmail.com?subject=Feedback%20&body=Type%20your%20message%20here">Contact us</a></li>
    </ul>
  </div>
  <div class="footer bottom">
    <p class="text-white">&copy; 2024 BeatbyBeat </p>
  </div>
  <div class="text-white">
    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="mailto:your-email@gmail.com"><i class="fa-solid fa-g"></i></a>
  </div>
</footer>

 <script src="/js/logout.js"></script>
  </body>
</html>