<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome kit -->
    <script src="https://kit.fontawesome.com/bf980fe4de.js" crossorigin="anonymous"></script>
    <script
      src="https://kit.fontawesome.com/bf980fe4de.js"
      crossorigin="anonymous"
      rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- tailwind.css-->
    <link rel="stylesheet" href="/css/tailwindstyle.css" />
    <title>Music Video App</title>
  </head>
  <body>
    <!-- navbar -->
    <nav
      class="fixed inset-x-0 z-50 h-[50px] mt-0 px-4 py-4 flex justify-between items-center bg-gradient-to-r from-cyan-200 via-violet-600 to-blue-700">
      <a class="text-3xl font-bold leading-none" href="/">
        <i class="fa-solid fa-headphones" style="color: #000205;"></i>
      </a>

      <!-- hamburger menu -->
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-white p-3">
          <svg
            class="block h-4 w-4 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <!-- Links to Navbar non-mobile -->
      <ul
        class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <li>
          <a class="nav-text" href="/">Home</a>
        </li>
        <li class="text-gray-300">
        </li>
        <li>
          <a class="nav-text" href="/about">About Us</a>
        </li>
        <li class="text-gray-300">
        </li>
        <li>
          <a class="nav-text" href="/services">Services</a>
        </li>
        <li class="text-gray-300">
        </li>
        <li>
          <a class="nav-text" href="/pricing">Pricing</a>
        </li>
        <li class="text-gray-300">
        </li>
        <li>
          <a class="nav-text" href="/contact">Contact</a>
        </li>
      </ul>
        <!-- sign in/sign out btns -->
        {{#if logged_in}}
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-playpen font-bold rounded-xl transition duration-200"
        href="/logout"
        >Log Out</a>
      
        {{else}}
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-playpen font-bold rounded-xl transition duration-200"
        href="/login"
        >Login</a>
        
        {{/if}}
    </nav>
    <!--headphones icon  -->
    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <!-- <a class="mr-auto text-3xl font-bold leading-none" href="#"> -->
            <i class="fa-solid fa-headphones text-3xl mr-auto leading-none" style="color: #000205;"></i>
        </div>
      <!--Dropdown navbar hamburger menu  --> 
        <div>
          <ul>
            <li class="mb-1">
              <a class="block p-4 text-lg font-playpen text-purple-800 hover:bg-gradient hover:text-blue-600 rounded"
                href="/">Home</a>
            </li>
            <li class="mb-1">
              <a class="block hamburger-menu-text-and-bg"
                href="/about">About Us</a>
            </li>
            <li class="mb-1">
              <a class="block hamburger-menu-text-and-bg" 
               href="/services">Services</a>
            </li>
            <li class="mb-1">
              <a class="block hamburger-menu-text-and-bg"
                href="./pricing">Pricing</a>
            </li>
            <li class="mb-1">
              <a class="block hamburger-menu-text-and-bg"
                href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6">
            {{#if logged_in}}<a
              class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-gradient hover:bg-blue-700 rounded-xl"
              href="/logout">Log Out</a>
          </div>
          {{else}}
            <a
              class="block px-4 py-3 mb-3 leading-loose text-sm font- playpen text-center font-semibold  bg-gray-50 hover:bg-gradient rounded-xl"
              href="/login">Login</a>
          {{/if}}
           <!--hamburger menu footer -->
          <p class="my-4 text-xs text-center text-gray-400">
            <span>Copyright © 2023</span>
          </p>
          
        </div>
      </nav>
    </div>
    <!-- END OF NAVBAR  -->

    {{!-- Handlebars Templates --}}]


    {{{ body }}}
    
  
    <!-- footer-->
    <footer>

    <div class="footer container"></div>
      <div class="social icons>"> </div>
      <a href="fa-brands fa-facebook"><i></i></a>
      <a href="fa-brands fa-Instagram"><i></i></a>
      <a href="fa-brands fa-Twitter"><i></i></a>
      <a href="fa-brands fa-Gmail"><i></i></a>
    <div class="footer nav text-white">

  <ul>

    <li><a href="">Home</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Contact us</a></li>
    <li><a href="">Team</a></li>

  </ul>
  <div class="footer bottom">

    <p class="text-white">&copy; 2023 Beat by Beat. All rights reserved. </p>

    <p><a href="terms.html">Terms of Service</a> <a href="privacy.html"> privacy policy</a></p>
  <p> Contact: <a href="BeatbyBeat@gmail.com">BeatbyBeat@gmail.com</a> </p>
  </div>
</div>
</footer> 

 <script src="/js/script.js"></script>
  </body>
</html>