<main>
<link rel="stylesheet" href="/css/style.css"/>   
<h1 class="row-span-1 font-playpen font-bold new-text-gradient margin-t text-center"> About Us - Beat-by-Beat </h1>
<h2 class="row-span-1 font-playpen font-bold new-text-gradient margin-t text-center">Our Mission</h2>
<p class="row-span-1 font-playpen font-bold new-text-gradient margin-t text-center">"At Beat-by-Beat, we're passionate about music and helping people discover their favorite singers. Our mission is to provide a user-friendly platform for 
    music enthusiasts to track their favorite artists and explore new ones."</p>

<img class="center" src="/image/images.jpeg" alt="Placeholder image"/>    

<div class="row-span-1 font-playpen font-bold new-text-gradient margin-t text-center">
    <h2>Our Team Members</h2>
    <ul >
    <li>Charles</li> 
    <li>Judy</li>  
    <li>Lucy</li>
    <li>Robert</li>
    <li>Harika</li>
    </ul>
</div>
 </main>