<div class="bg-white w-100 h-100">
  {{#each userData as | friend |}}
<div class="marg-30">
    <p>exampletext</p>
    <p>{{this.name}}</p>
    <p>{{this.songArray}}</p>
    <button data-id={{this.id}} class="friend-request">Add Friend</button>
</div>
{{/each}}
</div>