<div class="bg-color">
  {{#each userData as | friend |}}
  <div class="prof-marg">
    <div class="friend-box">
        <div class="prof-align">
    <p class="prof-marg">{{this.name}}</p>
    <p class="prof-marg">{{this.artistArray}}example, example, eaxmple</p>
    <button data-id={{this.id}} class="friend-request">Add Friend</button>
    </div>
    </div>
</div>
{{/each}}
</div>