<div class="bg-white mt-6">
  {{#each userData as | friend |}}
<div>
    <p>{{this.name}}</p>
    <p>{{this.songArray}}</p>
    <button data-id={{this.id}} class="friend-request">Add Friend</button>
</div>
{{/each}}
</div>