<div class="bg-dash">
    <div class="prof-marg">
    <div class="search-bar-row-dashboard">
        <input id="inputField" type="text" placeholder="Search.." class="search-bar-dashboard dash-input">
    <button id="search-listen-dashboard" type="submit" id="search-listen-dashboard" class="search-btn-dashboard">Search</button>
    </div>
    <div class="scroll-bar">
        <div class="submit-btn">
  {{#each userData as | friend |}}
    <div class="prof-marg">
      <div class="friend-box">
        <div class="prof-align">
          <p class="prof-marg">{{friend.name}}</p>
          <p class="prof-marg">{{friend.artistArray}}</p>
          <button data-id={{friend.id}} class="friend-request">Add Friend</button>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
  </div>
</div>
</div>
<script src="/js/friend.js"></script>
<script src="/js/script.js"></script>