<div class="bg-color submit-btn">
  {{#each userData as | friend |}}
    <div class="prof-marg">
      <div class="friend-box">
        <div class="prof-align">
          <p class="prof-marg">{{friend.name}}</p>
          <p class="prof-marg">{{friend.artistArray}}</p>
          <button data-id={{friend.id}} class="friend-request">Add Friend</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<script src="/js/friend.js"></script>