    <div class="canvas-container">
      <canvas id="canvas"></canvas>
      <p class="inside-canvas">
        NOT FOUND<br /><span class="bigger flickering">404</span>
      </p>
    </div>
    <h1 id="player1Score">0</h1>
    <h1 id="player2Score">0</h1>
