<!-- <!-Section-MAIN--> 
    <main id="home" class="grid grid-rows-3 gap-12 items-center justify-center ">
      <div class="h-96 justify-center mb-5 text-center m-auto mt-10">

        <h1 class="row-span-1 text-[35px] font-playpen font-bold text-gradient mt-20 ">
          Beat by Beat
          <h2
            class="row-span-1 text-[25px] font-playpen font-bold text-gradient"
          >
            The Ultimate Music Encyclopedia
          </h2>
        </h1>
        <div
          class="row-span-1 w-full shadow-xl rounded-xl px-8 py-14 sm:px-12 mt-16 bg-gradient"
        >
          <div class="relative">
            <!--added id-->
            <input
              type="search"
              id="audioDbSearch"
              placeholder="Enter Artist Name"
              class="border-b-2 w-full border-gray-200 py-3 px-7"
            />
            <!--search button for audiodb-->
            <button
              id="searchButton"
              class="mt-4 bg-gradient font-playpen text-[20px] text-white pr-2 pl-2 rounded-full "
            >
              Search Track
            </button>
          </div>
          <div id="results" class="font-playpen text-left text-lg text-gradient">
            <!--Artist info will be displayed here -->
          </div>
          <div id="mbResults"></div>
        </div>

        <!--Moved Videos outside of container-->
        <div id="videos"></div>
      {{#each usersData as |user|}}
      {{user.name}}
      {{/each}}


    </main>
    <div class="block">
      <div id="slider">
        <div id="slide-track">
        </div>
      </div> 
  </div> 