<!-- <!-Section-MAIN--> 
    <main id="home" class="grid grid-rows-3 gap-12 items-center justify-center padding-top">
     
        <div class="justify-center margin-b text-center m-auto mt-10 custom-h">
          <h1 class="row-span-1 font-bold new-text-gradient font-playpen pt-5 text-center">Beat by Beat</h1>
        </div>
          <div class="justify-center mb-5 text-center m-auto mt-10 custom-h">
          <h2 class="row-span-1 font-bold new-text-gradient pt-5 text-center letter-space">The Ultimate Music Encyclopedia</h2>
        </div>
      {{!-- container  --}}
        <div class="mb-5 text-center m-auto container"> 
        <div
          class="custom-element bg-gradient"
        >
          <div class="relative">
            <!--added id-->
            <input
              type="search"
              id="audioDbSearch"
              placeholder="Enter Artist Name"
              class="border-b-2 w-full border border-gray-200 py-3 px-4"
            />
            <!--search button for audiodb-->
            <button
              id="searchButton"
              class="
              btn-hover btn-hover:hover rounded-btn
              font-playpen"
            >
              Search Track
            </button>
          </div>
          <div id="results" class="font-playpen new-text-gradient">
            <!--Artist info will be displayed here -->
          </div>
          <div id="mbResults"></div>
        </div>

        <!--Moved Videos outside of container-->
        <div id="videos"></div>
      {{#each usersData as |user|}}
      {{user.name}}
      {{/each}}


    </main>
    <div class="block">
      <div id="slider">
        <div id="slide-track">
        </div>
      </div> 
  </div> 