<!-- <!-Section-MAIN--> 
    <main id="home" class="grid grid-rows-3 gap-12 items-center justify-center ">
      <div class="h-96 justify-center mb-5 text-center m-auto mt-10">

        <h1 class="row-span-1 text-[35px] font-playpen font-bold text-gradient mt-20 ">
          Beat by Beat
          <h2
            class="row-span-1 text-[25px] font-playpen font-bold text-gradient"
          >
            The Ultimate Music Encyclopedia
          </h2>
        </h1>
        <div
          class="row-span-1 w-full shadow-xl rounded-xl px-8 py-14 sm:px-12 mt-16 bg-gradient-to-r from-slate-50 via-sky-200 to-violet-300"
        >
          <div class="relative">
            <svg
              class="w-6 h-6 text-gray-700 absolute top-3 left-0"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
            <!--added id-->
            <input
              type="search"
              id="audioDbSearch"
              placeholder="Enter Artist Name"
              class="border-b-2 w-full border-gray-200 py-3 px-7"
            />
            <!--search button for audiodb-->
            <button
              id="searchButton"
              class="mt-4 bg-gradient font-playpen text-[20px] text-white pr-2 pl-2 rounded-full "
            >
              Search Track
            </button>
          </div>
          <div id="results" class="font-playpen text-left text-lg">
            <!--Artist info will be displayed here -->
          </div>
          <div id="mbResults"></div>
        </div>
        <!--Moved Bio outside of container-->

        <!--Moved Videos outside of container-->
        <div id="videos"></div>


    </main>
    <div class="block">
      <div id="slider">
        <div id="slide-track">
        </div>
      </div> 
  </div> 