<!-- <!-Section-MAIN--> 
    <main id="home" class="grid gap-12 items-center justify-center padding-top max-w-screen-md">
     
        <div class="justify-center margin-b text-center m-auto mt-10 custom-h">
          <h1 class="row-span-1 font-bold new-text-gradient font-playpen pt-5 text-center">Beat by Beat</h1>
        </div>
          <div class="justify-center mb-5 text-center m-auto mt-10 custom-h">
          <h2 class="row-span-1 font-bold new-text-gradient pt-5 text-center letter-space">The Ultimate Music Encyclopedia</h2>
        </div>
      {{!-- container  --}}
        <div class="mb-5 text-center m-auto centered py-14"> 
        <div
          class="row-span-1 w-full py-14 px-8 bg-gradient mt-16 shadow-xl rounded-xl search-width" style="width:346px"
        >
          <div class="relative pb-3">
            <!--added id-->
            <input
              type="search"
              id="audioDbSearch"
              placeholder="Enter Artist Name"
              class="border-b-2 w-full border border-gray-200 py-3 px-4"
            />
            <!--search button for audiodb-->
            <button
              id="searchButton"
              class="
              btn-hover btn-hover:hover rounded-btn
              font-playpen"
            >
              Search Track
            </button>
          </div>
          <div id="container">
            <!--Artist info will be displayed here -->
            <div id="results" class="font-playpen new-text-result new-text-gradient" style="width: 350px; padding-left:2px; padding-right: 2px;"></div>
            <div id="mbResults"></div>
          </div>
          
        </div>
        <!--Moved Videos outside of container-->
        <div id="videos"></div>
      {{#each usersData as |user|}}
      {{user.name}}
      {{/each}}


    </main>
    <div class="block">
      <div id="slider">
        <div id="slide-track">
        </div>
      </div> 
  </div> 