<!-- <!-Section-MAIN--> 
    <main id="home" class="grid grid-rows-3 gap-12 items-center justify-center ">
     
        <div class="justify-center mb-5 text-center m-auto mt-10 h-10">
          <h1 class="row-span-1 text-[35px] font-bold nav-text pt-5 ">Beat by Beat</h1>
        </div>
          <div class="justify-center mb-5 text-center m-auto mt-10 h-10">
          <h1 class="row-span-1 text-[30px] font-bold nav-text pt-5 ">The Ultimate Music Encyclopedia</h1>
        </div>
      {{!-- container  --}}
        <div class="justify-center mb-5 text-center m-auto container"> 
        <div
          class="row-span-1 w-full shadow-xl rounded-xl px-8 py-14 sm:px-12 mt-16 bg-gradient"
        >
          <div class="relative">
            <!--added id-->
            <input
              type="search"
              id="audioDbSearch"
              placeholder="Enter Artist Name"
              class="border-b-2 w-full border-gray-200 py-3 px-7"
            />
            <!--search button for audiodb-->
            <button
              id="searchButton"
              class="mt-4 pl-2 pr-2 pt-3
              transition ease-in-out delay-150 bg-gradient 
              hover:-translate-y-1 hover:scale-110 
              hover:bg-gradient duration-300
              font-playpen text-[20px] text-white rounded-full w-auto "
            >
              Search Track
            </button>
          </div>
          <div id="results" class="font-playpen new-text-gradient">
            <!--Artist info will be displayed here -->
          </div>
          <div id="mbResults"></div>
        </div>

        <!--Moved Videos outside of container-->
        <div id="videos"></div>
      {{#each usersData as |user|}}
      {{user.name}}
      {{/each}}


    </main>
    <div class="block">
      <div id="slider">
        <div id="slide-track">
        </div>
      </div> 
  </div> 