
<!-- login form  -->
<form class="submit-signin ">
  <main class="form-container margin-t">
      <div
        class="shadow-xl rounded-xl px-8 py-2 sm:px-12 mt-4 bg-gradient"
      >
      <div class="py-6">
        <h1
        class="font-bold new-text-gradient font-playpen py-3 text-center">
      Login
       </h1>
    
    
        <!-- email input -->
        <div class="py-6 form-divs">
            <h2
            class="font-playpen font-bold new-text-gradient py-2 form-text">
            Username or Email
          </h2>
          <input
            type="user or pass"
            placeholder="Username/Email"
            class="usernameOrEmail border-b-2 width-custom border-gray-200 py-3 px-7 "
          />
          <!-- password input -->
          <h2
            class="font-playpen font-bold new-text-gradient py-2 pt-6 form-text">
            Password
          </h2>
          <input
            type="password"
            placeholder="Enter password"
            class="password border-b-2 width-custom border-gray-200 py-3 px-7"
          />

          <!--sign in button -->
          <div class="text-center py-6">
           <button type="submit" class="mt-4 
            transition ease-in-out delay-150 bg-gradient 
            hover:-translate-y-1 hover:scale-110 
            hover:bg-gradient duration-300
            font-playpen text-[20px] text-white pr-2 pl-2 rounded-full w-auto">Sign in</button>
          </div> 
          <!--register button  -->
  
          <div class="text-center">
            <p class="text-[20px] font-playpen font-bold new-text-gradient text-center py-6">Not a member?</p>

            {{!-btn-sign up  --}}
           <a href="/signup"> <button type="button" class="mt-4 rounded-btn
            btn-hover btn-hover:hover 
            font-playpen text-[20px] text-white pr-2 pl-2  w-auto">Sign Up</button></a>
        </div> 
    </div>
 </main>
 </form>
 <script src="/js/login.js"></script>
 