<div id="profile" class="profile-container">

<h1 class="profile-header">My Favorite Artists</h1>
{{!-- <h2 class="new-text-gradient form-text font-playpen">My Favorite Artists</h2> --}}

{{#if favArtists.length}}
  <ul class="fav-artist">
    {{#each favArtists}}
      <button class="fav-artist-btn" data-artistName="{{this}}">{{this}}</button>
    {{/each}}
  </ul>
{{else}}
  <p>You have no favorite artists saved.</p>
{{/if}}
</div>
<script src="/js/script.js"></script>
