<!-- register form  -->
  <main class="max-w-screen-md max-h-screen-md items-center justify-center">
      <div
      class="shadow-xl rounded-xl px-8 py-2 sm:px-12 mt-4 bg-gradient"
      >
      <h1
      class="text-[35px] font-bold text-gradient py-3">
      Sign Up
     </h1>
        <!-- email input -->
        <div class="py-6">
            <h2
            class="text-[25px] font-playpen font-bold text-gradient text-left py-2 pt-6">
            Username
          </h2>
          <input
            type="username"
            placeholder="Enter Username"
            class="border-b-2 w-full border-gray-200 py-3 px-7"
          />
            <!-- email input -->
        <div class="py-6">
            <h2
            class=" text-[25px] font-playpen font-bold text-gradient text-left py-2">
            Email 
          </h2>
    
          <input
            type="text"
            placeholder="Enter email"
            class="border-b-2 w-full border-gray-200 py-3 px-7 "
          />
          <!-- password input -->
          <h2
            class="text-[25px] font-playpen font-bold text-gradient text-left py-2 pt-6">
            Password
          </h2>
    
          <input
            type="text"
            placeholder="Enter password"
            class="border-b-2 w-full border-gray-200 py-3 px-7"
          />

          <!--sign in button -->
          <div class="text-center py-6">
           <button type="button" class="mt-4 
            transition ease-in-out delay-150 bg-gradient 
            hover:-translate-y-1 hover:scale-110 
            hover:bg-gradient duration-300
            font-playpen text-[20px] text-white pr-2 pl-2 rounded-full w-auto">Submit </button>
          </div> 
          
    </div>
 </main>