@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r from-black via-violet-600 to-blue-700;
  }
  .text-gradient {
    @apply font-playpen bg-gradient-to-b from-yellow-50 to-blue-600 bg-clip-text text-transparent;
  }

  .nav-text {
    @apply text-lg nav-text-gradient hover:text-sky-300;
  }
  .nav-text-gradient {
    @apply font-playpen bg-gradient-to-b from-sky-100 via-sky-200 to-violet-900 bg-clip-text text-transparent;
  }
  .hamburger-menu-text-and-bg {
    @apply p-4 text-lg font-playpen text-purple-800 hover:bg-gradient hover:text-blue-600 rounded;
  }
}

/* DO  NOT TOUCH ABOVE CODE */
body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.social-icon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
/*Hover effects on social icons*/
.social-icon a:hover {
  background-color: #111;
  transition: 0.5s;
}
.social-icon a:hover i {
  color: white;
  transition: 0.5s;
}


.new-text-gradient {
  background: linear-gradient(to bottom, #93c5fd, #a5b4fc, #7e3af2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: left;
  padding-right: 40px;
  padding-left: 40px;
}

.main-form {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}
/* new hover btns */
.btn-hover {
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out 0.15s,
    background-color 0.3s ease-in-out;
  background-image: linear-gradient(to right, #ffd700, #ff8c00);
  cursor: pointer;
}

.btn-hover:hover {
  transform: translateY(-1px) scale(1.2);
  background-image: linear-gradient(to right, #ffd700, #ff8c00);
  transition-duration: 0.5s;
}

.btn-hover .w-auto {
  width: auto; /* Equivalent to w-auto */
}
.rounded-btn {
  border-radius: 9999px;
  height: 30px;
  width: 100px;
}