@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-r from-black via-violet-600 to-blue-700;
  }
  .text-gradient {
    @apply font-playpen bg-gradient-to-b from-yellow-50 to-blue-600 bg-clip-text text-transparent;
  }

  .nav-text {
    @apply text-lg nav-text-gradient hover:text-sky-300;
  }
  .nav-text-gradient {
    @apply font-playpen bg-gradient-to-b from-sky-100 via-sky-200 to-violet-900 bg-clip-text text-transparent;
  }
  .hamburger-menu-text-and-bg {
    @apply p-4 text-lg font-playpen text-purple-800 hover:bg-gradient hover:text-blue-600 rounded;
  }
}

/* DO  NOT TOUCH ABOVE CODE */
html,
body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 35px;
  text-align: center;
}
h2 {
  font-size: 23px;
}

.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.social-icon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
/*Hover effects on social icons*/
.social-icon a:hover {
  background-color: #111;
  transition: 0.5s;
}
.social-icon a:hover i {
  color: white;
  transition: 0.5s;
}

.footer-container {
  margin-top: auto;
  background-color: #000000;
  color: white;
  padding: 20px;
  text-align: center;
}

.form-container {
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
.align-center {
  align-self: center;
}
.new-text-gradient {
  background: linear-gradient(to bottom, #ffffff, #a5b4fc, #2e05a2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: left;
  padding-right: 40px;
  padding-left: 40px;
}

.padding-top {
  padding-top: 55px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.form-divs {
  text-align: center;
}
.form-text {
  text-align: center;
}
.custom-h {
  height: 40px;
}
.margin-b {
  margin-bottom: 20px;
}
.margin-t {
  margin-top: 20px;
}
.letter-space {
  letter-spacing: 2px;
}

/* new hover btns */

.btn-hover {
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out 0.15s,
    background-color 0.3s ease-in-out;
  background-image: linear-gradient(to right, #000000, #a62ef4, #0000ff);
  cursor: pointer;
}

.btn-hover:hover {
  transform: translateY(-1px) scale(1.1);
  background-image: linear-gradient(to right, #76e0f0, #a62ef4, #0000ff);
  transition-duration: 0.5s;
}

.rounded-btn {
  border-radius: 15px;
  height: auto;
  width: 150px;
  color: white;
  font-size: 20px;
  padding: 7px 5px;
}
.nav-rounded-btn {
  border-radius: 15px;
  height: auto;
  width: 120px;
  color: white;
  font-size: 17px;
  padding: 3px 5px;
  text-align: center;
}

/* Equivalent to items-center and justify-center */
.centered {
  align-items: center;
  justify-content: center;
}
.width-custom {
  width: 500px;
}
/* search page */
.grid {
  display: grid;
  grid-template-rows: auto auto auto;
}
.row-span-1 {
  grid-row: span 1;
}

.w-full {
  width: 100%;
}
.w-medium {
  width: 700px;
}

.py-14 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.px-8 {
  padding-left: 32px;
  padding-right: 32px;
}
.pb-3 {
  padding-bottom: 12px;
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(118, 224, 240, 0.1),
    0 18px 10px -6px rgba(118, 224, 240, 0.1);
}
.rounded-xl {
  border-radius: 12px;
}

.custom-element {
  grid-row: span 1;
  width: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 56px 32px;
  margin-top: 64px;
}

#bookmark:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.border {
  border-radius: 15px;
  border-color: #020217;
  border-width: 3px;
}

/* Carousel  */
#slider {
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

#slider #slide-track {
  display: flex;
  white-space: nowrap;
  width: calc(400px * 50);
  animation: scroll 75s 0.5s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 10));
  }
}
.slide {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.slide img {
  height: 100%;
  width: 100%;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.slider:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, (255, 255, 255, 0), red);
  content: '';
  z-index: 2;
}

.slider:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, (255, 255, 255, 0), red);
  content: '';
  z-index: 2;
}

#bookmark:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.favorite-artists {
  color: #ffffff;
}
/*\/ dashboard cards \/*/
.friend-box {
  width: 80%;
  max-width: 1200px;
  height: 5.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  min-width: 310px;
}

.prof-marg {
  margin: 1rem;
  font-size: 1.2rem;
}

.prof-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.friend-request {
  padding: 0.5rem;
  background-color: #7070f5;
  border-radius: 0.4rem;
  color: white;
  font-size: 1rem;
  margin-left: auto;
}

.friend-delete {
  padding: 0.5rem;
  background-color: #f57070;
  border-radius: 0.4rem;
  color: white;
  font-size: 1rem;
  margin-left: auto;
}

.search-bar-dashboard {
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  padding: 0.3rem;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  width: 30%;
  min-width: 10rem;
  display: block;
}

.bg-dash {
  background-color: #d6d6d6;
  width: 100%;
  margin-top: 2rem;
  min-height: 80%;
  overflow: auto;
}

.search-btn-dashboard {
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 0.3rem;
  border-right: 2px solid #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: #7070f5;
}

.search-bar-row-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*/\ dashboard cards /\*/

.search-width {
  width: 60%;
  margin: 0 auto;
}

/* profile */

#profile {
  background: linear-gradient(145deg, #d6d6d6, #292929);
  height: 85vh;
}

.profile-container {
  margin-top: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  padding-bottom: 10px;
}

.fav-artist {
  list-style: none;
  padding: 0;
  width: 50%;
}

.fav-artist-btn {
  display: block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.fav-artist-btn:hover {
  background-color: #7c3aed;
  color: #fff;
}
/* .style-h {
  height: 85vh;
} */
/* profile */

/* max width and max height */
/* Equivalent to max-w-screen-md */
@media (max-width: 768px) {
  .max-w-screen-md {
    max-width: 100%;
  }
}

/* Equivalent to max-h-screen-md */
@media (max-height: 768px) {
  .max-h-screen-md {
    max-height: 100%;
  }
}

/* responsive login */
@media only screen and (min-device-width: 320px) and (max-device-width: 760) {
  .search-width {
    width: 95%;
    margin: auto;
  }
  .px-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  /* .w-small {
    width: 65%;
  } */
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 10px;
  }
}

/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-width {
    width: 100%;
    margin: auto;
  }
  .style-h {
    height: 85vh;
  }
  /* Styles */
}
/* Desktops and laptops  */
@media only screen and (min-width: 1224px) {
  .search-width {
    width: 100%;
    margin: auto;
  }
  .style-h {
    height: 85vh;
  }
}

/* Keyframes definition */
@keyframes backgroundSlide {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Animation definitions */
.animated-bg {
  background-image: url(https://cdn.pixabay.com/photo/2022/06/08/05/47/stars-7249785_1280.jpg?auto=compress&dpr=1);
  background-size: cover;
  animation-name: backgroundSlide;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

.animated-bg-slide {
  animation-name: backgroundSlide;
  animation-duration: 560s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}
